@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap');

/*ESTILOS GENERALES*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --rojo-brillante: rgb(242, 95, 58);
    --rojo-palido: rgb(249, 144, 118);
    --azul-oscuro: rgb(35, 44, 81);
    --azul-grisáceo-oscuro: rgb(143, 148, 167);
    --azul-muy-oscuro: rgb(29, 30, 37);
    --rojo-muy-pálido: rgb(255, 239, 234);
    --variante-gris-claro: rgb(249, 249, 249);
    --primary-font: 'Be Vietnam', sans-serif;
}

body {
    font-family: var(--primary-font);
    overflow-x: hidden; 
}
/* div.bg-img-top {
    height: 1000px;
    width: 100vw;
    background-image: url(../imagenes/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-position: top right;
    position: absolute;
    top: -20%;
    transform: translateX(9%);
    z-index: -10;
}

/*div.bg-img-middle {
    /* right: 0; */
    /*height: 1000px;
    width: 500px;
    background-image: url(../imagenes/bg-tablet-pattern.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size:auto;
    position: absolute;
     top: 130%;
    transform: translateX(-40%); 
    z-index: -10;
    /* transform: translate(-100px, 50px); */

    h2.highlight-text{
        margin: 20px auto;
        margin-top: 20px;
        color: var(--azul-oscuro);
        font-size: 30px;
        font-weight: 700;
    }
/*HEADER*/
header {
   margin: 20px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--azul-oscuro);
}
header div.mobile-nav i.menu-icon {
    font-size: 25px;
}
header div.desktop-nav {
display: none;
} 
/* header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding-right: 28px;
}

header nav ul li a {
    color: var(--azul-oscuro);
    text-decoration: none;
    font-weight: 500;
}

header nav ul li a:hover {
    color: var(--azul-grisáceo-oscuro);
}

header div.desktop-nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
} */


/*ESTILO BOTON */
button.btn-start {
    color: white;
    background-color: var(--rojo-brillante);
    height: 50px;
    width: 140px;
    border-radius: 50px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border: none;
    cursor: pointer;
    transition: background-color .5s;
}

button.btn-start:hover {
    background-color: var(--rojo-palido);
}

/*SECTION GENERAL STYLES*/
section.main-section,
section.about-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 50px;
    width: 90%;
    margin: 20px;
    text-align: center;
    align-items: center;
}

/*MAIN SECTION*/
section.main-section{
    flex-direction: column-reverse;
}
div.main-section-image img {
    max-width: 90%;
}

div.main-section-text p.description-text,
div.about-section-text-content p  {
    color: var(--azul-grisáceo-oscuro);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
}

/*ABOUT SECTION*/


/* div.about-section-text-content {
    margin: 0 15%;
}

div.about-section-text-content p {
    width: 350px;
    margin-top: 10px;
} */
/* 
div.about-section-text h2 {
    color: var(--azul-oscuro);
    font-size: 30px;
    font-weight: 700;
} */

/* div.card-container {
    width: 50%;
    display: flex;
    flex-direction: column;
} */

/* div.card-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
} */

div.card-header {
    display: flex;
}
div.card-number {
    width: 80px;
    height: 40px;
    background-color: var(--rojo-brillante);
    color: white;
    border-radius: 30px;
    text-align: center;
    margin-right: 20px;
    line-height: 40px;
}
div.card-header h2 {
    color: var(--azul-oscuro);
}

div.card-content p {
    color: var(--azul-grisáceo-oscuro);
    margin: 10px;
    text-align: justify;
}

div.card-header {
    background-color: var(--rojo-muy-pálido);
    border-radius: 20px 0 0px 20px;
}
div.card-header h2 {
    font-size: 15px;
}
div.card-content p {
    /* width: 100%; */
    margin-top: 20px 0;
}
/*TESTIMONIAL SECTION*/
section.testimonials-section {
    /* width: 90%; */
    /* margin: 100px auto;*/
    margin-bottom: 40px;
    text-align: center; 
}
  /* div.container-items {
        margin: auto;
    } */
/* div.slider {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 50px 0;
} */
div.slider {
    margin-top: 20px;
    position: relative;
    width: 100%;
    height: 220px;
    margin-bottom: 0;
}
div.slider article {
    position: absolute;
    opacity: 0;
    width: 80%;
    height: inherit;
    transition: opacity .5s;
    background-color: white;
}


/* div.container-items article {
    margin-top: 40px;
    width: 400px;
    height: 200px;
    /* padding: 0 20px; 
    position: relative;
} */

div.container-items article img{
position: absolute;
top: -30%;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
}

div.item-content{
    background-color: var(--variante-gris-claro);
    width: 100%;
    padding: 20px;
}

article img {
    width: 70px;
}

article p {
    color: var(--azul-grisáceo-oscuro);
}


div.slider article.last-item {
    display: block;
}

div.slider article:first-child {
    opacity: 1;
}

div.slider article:target {
    opacity: 1;
}

div.container-items ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
}

div.container-items ul li a {
    display: inline-block;
    border: 2px solid var(--rojo-brillante);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: transparent;
}

div.container-items ul li a:hover {
    background-color: var(--rojo-brillante);
}



/*SECTION BANNER*/
section.banner-section {
    background-color: var(--rojo-brillante);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-image: url('../imagenes/bg-simplify-section-mobile.svg');
    background-repeat: no-repeat;
    background-position: left;
    flex-direction: column;
    text-align: center;
    height: 250px;
    z-index: -1;
    align-items: center;
}

section.banner-section h2 {
        margin-bottom: 20px;
        width: 280px;
}

section.banner-section button {
    background-color: var(--rojo-muy-pálido);
    color: var(--rojo-brillante);
}

section.banner-section button:hover {
    color: var(--rojo-palido);
    background-color: var(--rojo-muy-pálido);
}

/*FOOTER*/
footer {
    background-color: var(--azul-muy-oscuro);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    text-align: center;
    padding: 50px;
}

div.footer-icons {
    margin: 40px 0;
}

div.footer-icons i {
    color: var(--variante-gris-claro);
    font-size: 20px;
    padding-right: 10px;
    cursor: pointer;
    transition: color .5s;
}

div.footer-icons i:hover {
    color: var(--rojo-brillante);
}

div.footer-list {
        text-align: left;
        margin: 20px 0;
        justify-content: space-between;
        display: flex;
        width: 100%;
}

div.footer-list div ul {
    list-style-type: none;
    color: var(--rojo-muy-pálido);
}

div.footer-list ul li {
    margin-bottom: 15px;
}

div.footer-list ul li a {
    color: var(--variante-gris-claro);
    text-decoration: none;
    transition: color .5s;
}

div.footer-list ul li a:hover {
    color: var(--rojo-brillante);
}

div.footer-form {
   width: 300px;
}

div.footer-form input[type="email"] {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: none;
    margin-right: 10px;
    outline: none;
}

div.footer-form input[type="email"]::placeholder {
    padding-left: 15px;
}
div.footer-form input[type="email"]:invalid{
    border: 2px solid var(--rojo-brillante);
}

div.footer-form input[type="submit"] {
    width: 60px;
    height: 40px;
    background-color: var(--rojo-brillante);
    border: none;
    border-radius: 20px;
    color: var(--rojo-muy-pálido);
    cursor: pointer;
    transition: background-color .5s;
}

div.footer-form input[type="submit"]:hover {
    background-color: var(--rojo-palido);
}

footer span {
    margin-top: 60px;
    font-size: 12px;
    color: var(--azul-grisáceo-oscuro);
}

footer span.copright-desktop {
    display: none;
} 

/*---------------TABLET--------------------------*/

/* On screens that are 768px or less */
/* 
/*@media (max-width: 768px) {
    header div.desktop-nav {
        display: none;
    }

    header div.mobile-nav {
        display: block;
    }

    header div.mobile-nav i.menu-icon {
        font-size: 25px;
    }

    section.main-section {
        flex-direction: column-reverse;
    }

    div.main-section-text,
    div.main-section-image {
        margin: auto;
    }

    div.main-section-text {
        text-align: center;
    }

    /*ABOUT SECTION*/
    /*section.about-section {
        flex-direction: column;
        align-items: center;
    }

    div.about-section-text {
        text-align: center;
    }

    div.about-section-text-content {
        margin: 0;
    }

    div.card-item {
        margin-bottom: 40px;
    }

    div.card-header {
        background-color: var(--rojo-muy-pálido);
        border-radius: 20px 0 0px 20px;
    }

    div.card-container {
        width: 80%;
        margin-top: 5%;
    }

    /*TESTIMONIAL SECTION*/
    /*div.container-items {
        width: 90%;
        margin: auto;
    }

    div.container-items ul {
        display: block;
        margin-bottom: 20px;
    }

    section.testimonials-section h2 {
        margin-bottom: 40px;
    }

    div.slider {
        position: relative;
        width: 100%;
        height: 220px;
        margin-bottom: 0;
    }

    div.slider article {
        position: absolute;
        opacity: 0;
        width: 80%;
        height: inherit;
        transition: opacity .5s;
        background-color: white;
    }

    div.slider article.last-item {
        display: block;
    }

    div.slider article:first-child {
        opacity: 1;
    }

    div.slider article:target {
        opacity: 1;
    }

    div.container-items ul li {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: inline-block;
    }

    div.container-items ul li a {
        display: inline-block;
        border: 2px solid var(--rojo-brillante);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        color: transparent;
    }

    div.container-items ul li a:hover {
        background-color: var(--rojo-brillante);
    }

    /*Banner*/
    /*section.banner-section h2 {
        font-size: 35px;
    }

    /*FOOTER*/

    /*footer {
        flex-direction: column-reverse;
        text-align: center;
    }

    footer span.copright-mobile {
        display: block;
        margin-top: 20px;
    }

    footer span.copright-desktop {
        display: none;
    }

    .footer-img {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .footer-img img {
        margin-top: 20px;
    }

    div.footer-list {
        justify-content: space-around;
    }

    div.footer-form {
        margin-bottom: 20px;
    }
}*/

/* On screens that are 4250px or less */
/*@media (max-width: 425px) {

    div.main-section-image img {
        width: 300px;
    }

    div.main-section-text p.highlight-text {
        font-size: 40px;
    }

    div.about-section-text h2 {
        font-size: 30px;
    }

    div.main-section-text p.description-text,
    div.about-section-text-content p {
        color: var(--azul-grisáceo-oscuro);
        margin: 10px auto;
    width: 90%;
    }

    section.banner-section {
        background-image: url('../imagenes/bg-simplify-section-mobile.svg');
        background-repeat: no-repeat;
        background-position: left;
        flex-direction: column;
        text-align: center;
        height: 350px;
    }

    div.about-section-text {
        width: 90%;
    }

    div.card-container {
        width: 80%;
    }

    div.card-header h2 {
        font-size: 15px;
    }
    div.card-content p {
        width: 100%;
        margin-left: 10px;
        margin-top: 10px;
    }
    section.banner-section h2 {
        margin-bottom: 20px;
        width: 280px;
    }
    div.footer-list {
        justify-content: space-evenly;
    }
    div.container-items ul {
        margin-top: 20px;
    }
} */
