@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap');

/*ESTILOS GENERALES*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --rojo-brillante: rgb(242, 95, 58);
    --rojo-palido: rgb(249, 144, 118);
    --azul-oscuro: rgb(35, 44, 81);
    --azul-grisáceo-oscuro: rgb(143, 148, 167);
    --azul-muy-oscuro: rgb(29, 30, 37);
    --rojo-muy-pálido: rgb(255, 239, 234);
    --variante-gris-claro: rgb(249, 249, 249);
    --primary-font: 'Be Vietnam', sans-serif;
}

body {
    background-image: url(../imagenes/bg-tablet-pattern.svg);
    background-position: top -360px left -15%;
    background-repeat: no-repeat;
    font-family: var(--primary-font);
}

h2.highlight-text {
    color: var(--azul-oscuro);
    font-size: 30px;
    font-weight: 700;
    margin-top: 20px;
    margin: 20px auto;
}

/*HEADER*/
header {
    align-items: center;
    color: var(--azul-oscuro);
    display: flex;
    height: 100px;
    justify-content: space-between;
    margin: 20px;
}

header div.mobile-nav i.menu-icon {
    cursor: pointer;
    font-size: 25px;
    transition: color .5s;
}

header div.mobile-nav i.menu-icon:hover {
    color: var(--azul-grisáceo-oscuro);
}

header div.desktop-nav {
    display: none;
}

/*ESTILO BOTON */
button.btn-start {
    background-color: var(--rojo-brillante);
    border-radius: 50px;
    border: none;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    color: white;
    cursor: pointer;
    height: 50px;
    transition: background-color .5s;
    width: 140px;
}

button.btn-start:hover {
    background-color: var(--rojo-palido);
}

/*SECTION GENERAL STYLES*/
section.main-section,
section.about-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 20px 20px 50px;
    text-align: center;
    width: 90%;
}

/*MAIN SECTION*/
section.main-section {
    flex-direction: column-reverse;
}

div.main-section-image img {
    max-width: 90%;
}

div.main-section-text p.description-text,
div.about-section-text-content p {
    color: var(--azul-grisáceo-oscuro);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
}

/*ABOUT SECTION*/

div.card-header {
    background-color: var(--rojo-muy-pálido);
    border-radius: 20px 0px 0px 20px;
    display: flex;
}

div.card-number {
    background-color: var(--rojo-brillante);
    border-radius: 30px;
    color: white;
    height: 40px;
    line-height: 40px;
    margin-right: 20px;
    text-align: center;
    width: 80px;
}

div.card-header h2 {
    color: var(--azul-oscuro);
    font-size: 15px;
}

div.card-content p {
    color: var(--azul-grisáceo-oscuro);
    margin: 10px;
    text-align: justify;
}


div.card-content p {
    margin-top: 20px 0;
}

/*TESTIMONIAL SECTION*/
section.testimonials-section {
    margin-bottom: 40px;
    text-align: center;
}

div.container-items ul {
    margin: 20px;
}

div.container-items ul li {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.container-items ul li a {
    border-radius: 50%;
    border: 2px solid var(--rojo-brillante);
    color: transparent;
    display: inline-block;
    height: 20px;
    width: 20px;
}

div.container-items ul li a:hover {
    background-color: var(--rojo-brillante);
}

div.slider {
    display: flex;
    height: 220px;
    justify-content: center;
    margin: 100px auto 0;
    position: relative;
    width: 100%;
}

div.slider article img {
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    top: -30%;
    width: 80px;
}

div.slider article {
    height: inherit;
    opacity: 0;
    position: absolute;
    transition: opacity .5s;
    width: 80%;
}

article div.item-content {
    background-color: var(--variante-gris-claro);
    padding: 20px;
    width: 100%;
}

article div.item-content p {
    color: var(--azul-grisáceo-oscuro);
}

div.slider article.last-item {
    display: block;
}

/* Animacion del slider usando la opacidad del elemento */

div.slider article:first-child {
    opacity: 1;
}

div.slider article:target {
    opacity: 1;
}

/*SECTION BANNER*/
section.banner-section {
    align-items: center;
    background-image: url('../imagenes/bg-simplify-section-mobile.svg');
    background-position: left;
    background-repeat: no-repeat;
    background-color: var(--rojo-brillante);
    color: white;
    display: flex;
    height: 250px;
    justify-content: center;
    padding: 50px;
    text-align: center;
    z-index: -1;
}

div.banner-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

div.banner-container h2 {
    margin-bottom: 20px;
    width: 280px;
}

div.banner-container button {
    background-color: var(--rojo-muy-pálido);
    color: var(--rojo-brillante);
}

div.banner-container button:hover {
    background-color: var(--rojo-muy-pálido);
    color: var(--rojo-palido);
}

/*FOOTER*/
footer {
    align-items: center;
    background-color: var(--azul-muy-oscuro);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 40px;
    text-align: center;
}

div.footer-img {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    margin-bottom: 10px;
}

div.footer-icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

div.footer-icons i {
    color: var(--variante-gris-claro);
    font-size: 25px;
    padding-right: 10px;
    cursor: pointer;
    transition: color .5s;
}

div.footer-icons i:hover {
    color: var(--rojo-brillante);
}

div.footer-list {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
    text-align: left;
    width: 100%;
}

div.footer-list div ul {
    color: var(--rojo-muy-pálido);
    list-style-type: none;
}

div.footer-list ul li {
    margin-bottom: 15px;
}

div.footer-list ul li a {
    color: var(--variante-gris-claro);
    text-decoration: none;
    transition: color .5s;
}

div.footer-list ul li a:hover {
    color: var(--rojo-brillante);
}

div.footer-form {
    width: 300px;
}

div.footer-form input[type="email"] {
    border-radius: 20px;
    border: none;
    height: 40px;
    margin-right: 10px;
    outline: none;
    width: 200px;
}

div.footer-form input[type="email"]::placeholder {
    padding-left: 15px;
}

div.footer-form input[type="email"]:invalid {
    border: 2px solid var(--rojo-brillante);
}

div.footer-form input[type="submit"] {
    background-color: var(--rojo-brillante);
    border-radius: 20px;
    border: none;
    color: var(--rojo-muy-pálido);
    cursor: pointer;
    height: 40px;
    transition: background-color .5s;
    width: 60px;
}

div.footer-form input[type="submit"]:hover {
    background-color: var(--rojo-palido);
}

footer span {
    color: var(--azul-grisáceo-oscuro);
    font-size: 12px;
    margin-top: 60px;
}

footer span.copright-desktop {
    display: none;
}

/*---------------TABLET--------------------------*/
@media (min-width: 768px) {
    body {
        background-position: top -180px left -220%;
    }

    header {
        margin: 50px;
    }

    section.main-section,
    section.about-section {
        width: 80%;
        margin: auto;
    }

    /*TESTIMONIAL SECTION*/
    div.slider {
        height: 180px;
    }

    div.slider article {
        width: 60%;
    }

    div.footer-list {
        justify-content: space-evenly;
    }
}

@media (min-width: 1024px) {
    body {
        background-position: top -150px right -120%;
    }

    /*HEADER*/
    header {
        margin: 50px 100px;
    }

    header div.desktop-nav {
        display: block;
    }

    header div.mobile-nav {
        display: none;
    }

    header nav ul {
        list-style-type: none;
    }

    header nav ul li {
        display: inline-block;
        padding-right: 28px;
    }

    header nav ul li a {
        color: var(--azul-oscuro);
        font-weight: 500;
        text-decoration: none;
    }

    header nav ul li a:hover {
        color: var(--azul-grisáceo-oscuro);
    }

    header div.desktop-nav {
        display: flex;
        justify-content: space-between;
        width: 70%;
    }

    /*MAIN SECTION*/
    section.main-section,
    section.about-section {
        flex-direction: row;
        justify-content: space-around;
        margin: 100px auto;
        width: 100%;
    }

    div.main-section-image img {
        text-align: right;
        width: 100%;
    }

    div.main-section-text,
    div.about-section-text-content {
        margin-left: 100px;
        text-align: left;
    }

    div.main-section-text h2.highlight-text {
        font-size: 50px;
        line-height: 60px;
        width: 400px;
    }

    div.main-section-text p.description-text {
        width: 300px;
    }

    /*ABOUT SECTION*/
    div.about-section-text {
        margin-top: -250px;
        height: 100%;
        width: 50%;
    }

    div.about-section-text-content {
        margin: -10px 25% 0;
        width: 50%;
    }

    div.card-container {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    div.about-section-text h2 {
        background-color: transparent;
    }

    div.card-header {
        background-color: transparent;
    }

    div.card-content p {
        width: 70%;
        margin-top: 20px 0;
        margin-left: 100px;
    }

    div.card-header h2 {
        font-size: 20px;
    }

    div.card-item {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    div.container-items ul {
        display: none;
    }

    div.container-items {
        margin: auto;
    }

    /*TESTIMONIAL SECTION*/
    div.container-items {
        margin: auto;
    }

    div.slider {
        align-items: center;
        justify-content: space-around;
        margin: 100px 0 50px;
    }

    div.slider article {
        display: inline-block;
        height: 200px;
        margin-top: 40px;
        opacity: 1;
        position: relative;
        width: 400px;
    }

    div.slider article.last-item {
        display: none;
    }

    /*BANNER*/
    section.banner-section {
        background-image: url('../imagenes/bg-simplify-section-desktop.svg');
        height: 250px;
        text-align: left;
    }

    div.banner-container {
        flex-direction: row;
        justify-content: space-between;
        width: 85%;
    }

    div.banner-container h2 {
        font-size: 40px;
        width: 50%;
    }

    /*FOOTER*/
    footer {
        flex-direction: row;
    }

    footer span.copright-mobile {
        display: none;
    }

    div.footer-img {
        flex-direction: column;
        height: 130px;
    }

    div.footer-icons i {
        font-size: 20px;
    }

    div.footer-form {
        width: 500px;
    }

    footer span.copright-desktop {
        display: block;
    }
}
@media (min-width: 1280px) {
    body {
        background-position: top -110px right -30%;
    }
}