@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap');

/*ESTILOS GENERALES*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
--rojo-brillante: rgb(242, 95, 58);
--azul-oscuro: rgb(35, 44, 81);
--azul-grisáceo-oscuro: rgb(143, 148, 167);
--azul-muy-oscuro: rgb(29, 30, 37);
--rojo-muy-pálido: rgb(255, 239, 234);
--variante-gris-claro: rgb(249, 249, 249);
--primary-font : 'Be Vietnam', sans-serif;
}
body{
    font-family: var(--primary-font);
    background-image: url('../imagenes/bg-tablet-pattern.svg');
    background-repeat: no-repeat;
    background-position: 130% -30%;
}

/*HEADER*/
header{
    margin: 50px 0;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--azul-oscuro);
}
header nav ul{
    list-style-type: none;
}
header nav ul li  {
    display: inline-block;
    padding-right: 28px;
}
header nav ul li a{
    color: var(--azul-oscuro);
    text-decoration: none;
    font-weight: 500;
}

/*ESTILO BOTON */
button.btn-start{
    color: white;
    background-color: var(--rojo-brillante);
    height: 50px;
    width: 140px;
    border-radius: 50px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border: none;
    cursor: pointer;
}
/*SECTION GENERAL STYLES*/
section.main-section, section.about-section{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
/*MAIN SECTION*/
div.main-section-tex div{
    margin: 10px;
    width: 400px;
}
div.main-section-text p.highlight-text{
    margin-top: 20px;
    width: 400px;
    color: var(--azul-oscuro);
    font-size: 40px;
    font-weight: 700;
}
div.main-section-text p.description-text{
    width: 400px;
}
div.main-section-text p{
    margin-bottom: 40px;
}

/*ABOUT SECTION*/
div.about-section-text{
    margin: 20px;   
    width: 350px;
}
div.about-section-text h2{
        color: var(--azul-oscuro);
        font-size: 30px;
        font-weight: 700;
    }
div.card-container{
    width: 50%;
    display: flex;
    flex-direction: column;
}
div.card-item{
    display: flex;
}
div.card-number{
    width: 150px;
    height: 40px;
    background-color: var(--rojo-brillante);
    color: white;
    border-radius: 30px;
    text-align: center;
    margin-right: 20px;
    line-height: 40px;
}
/*TESTIMONIAL SECTION*/
section.testimonials-section{
    margin:100px 0;
text-align: center;
}
div.container-items{
    display: flex;
    margin: 50px;
}
div.container-items article{
    width: 400px;
    height: 200px;
    margin-right: 50px;
}
article img{
    width: 70px;
}
article p{
    color:var(--azul-grisáceo-oscuro);
}
/*SECTION BANNER*/
section.banner-section{
    background-color: var(--rojo-brillante);
    color: white;
    height: 200px;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-image: url('../imagenes/bg-simplify-section-desktop.svg');
    background-position:5%;
    z-index: -1;
    align-items: center;
}
section.banner-section h2{
    font-size: 40px;
    width: 430px;
}
section.banner-section button{
    background-color: var(--rojo-muy-pálido);
    color: var(--rojo-brillante);
}
/*FOOTER*/
footer{
    background-color: var(--azul-muy-oscuro);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  50px;
}
div.footer-icons{
    color: var(--variante-gris-claro);
    font-size: 20px;
    margin-top: 40px;
}
div.footer-icons i{
    padding-right: 10px;
}
div.footer-list{
    width: 400px;
}
div.footer-list ul{ 
    display: flex;
    justify-content: space-between;
list-style-type: none;
color:var(--rojo-muy-pálido);
}
div.footer-list ul li{
    padding: 5px;
}
div.footer-form{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: space-between;
}
div.footer-form input[type="text"]{
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: none;
    margin-right: 10px;
}
div.footer-form input[type="text"]::placeholder{
    padding-left: 15px;
}
div.footer-form input[type="submit"]{
    width: 60px;
    height: 40px;
    background-color: var(--rojo-brillante);
    border: none;
    border-radius: 20px;
    color: var(--rojo-muy-pálido);
    cursor: pointer;
}
div.footer-form span{
    margin-top: 60px;
    font-size: 12px;
    color: var(--azul-grisáceo-oscuro);
}