<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Detail</title>
</head>
<body>
    <header>
        <div class="secundary-header"><span>Estamos hechos unos locos</span></div>
        <div class="main-header">
          <h1>Harley Quinn</h1>
      </header>
<main class="harley-detail">
    <section class="card-detail">
        <img
        class="img-profile detail"
        src="../img/harley-perfil.png"
        alt="batman-perfil"
      />
      <div class="harley-detail-description">
          <div class="detail-header">
             <img src="../img/XMLID 1185.png" alt=""> 
             <h2>Harley Quinn:</h2> 
          </div>
         <div class="detail-content">
            <p>
                Harley Quinn (nombre real Dra. Harleen Frances Quinzel) es un personaje ficticio creado por los estadounidenses Paul Dini y Bruce Timm para la editorial DC Comics. Quinn hizo su debut en el vigésimo-segundo episodio de Batman: la serie animada, «El favor del Joker», en septiembre de 1992 y se convirtió en una villana recurrente en la serie, posee una excelente agilidad y es rápida peleando, solo es superada por Batman y el Joker. Su agilidad se debe a ser una gimnasta y una acróbata.
              </p>
         </div>
          <div class="detail-iconos">
            <img src="../img/bate 1.png" alt="">
            <img src="../img/gun 1.png" alt="">
            <img src="../img/bazooka 1.png" alt="">
          </div>
          <div class="detail-footer">
              <a href="home.html">Volver al home</a>
          </div>
      </div>

    </section>
</main>
<footer>
    <span>Todos los derechos reservados a FRONT END 1</span>
  </footer>
</body>
</html>