<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
  </head>
  <body>
    <header>
      <div class="secundary-header"><span>20% de descuento en todos los productos!</span></div>
      <div class="main-header">
        <img src="../img/logo 1.png" alt="logo empresa">
        <h1>nombre tienda</h1>
      </div>
    </header>
    <main>
      <!--REGISTRO-->
      <div class="register-view form-view">
        <h2>Registro</h2>
        <section class="form-container">
          <form action="home.html" method="POST">
            <input type="text" placeholder="Nombre y apellido">
            <input type="email" placeholder="Correo Electrónico">
            <input type="password" placeholder="constraseña">
            <select>
              <option value="">Pais</option>
              <option value="">Argentina</option>
              <option value="">Colombia</option>
              <option value="">Brasil</option>
            </select>
            <div class="register-btn">
            <input type="reset" value="Resetear">
            <input type="submit" value="Registrar">
            </div>  
          </form>
          <span>¿Ya tenés cuenta?<a href="../index.html"> Ingresá</a></span>
        </section>
      </div>
    </main>
    <footer>
      <span>Todos los derechos reservados a FRONT END 1</span>
    </footer>
  </body>
</html>
